@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    align-items: center;
    background-image: url('../images/back.jpg');
    /* background-color: #dedede; */
}

.imglogoMain{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 165px;
    height: 135px;
    /* background-color: rgba(212, 212, 212, 0.924); */
    
    border-radius: 5px;
}

.imglogo{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 165px;
    height: 135px;
    border-radius: 5px;
}

#intro{
    text-align: center;
    font-size: 8px;
    color: #fff;
    /* background-color: rgba(177, 177, 177, 0.95); */
    padding: 10px 10px;
    margin: 0 15px;
}

ul{
    display: flex;
    list-style: none;
    width: 300px;
    max-width: 100%;
    margin: 10px auto;
    flex-wrap: wrap;
}

ul>li:hover, ul > li > a:hover{
    color: red;
    background-color: palegoldenrod;
    transition: 1s;
}

.listaCardapio{
    border-radius: 5px;
    margin: 10px auto;
    /* background-color: rgba(177, 177, 177, 0.95); */
    padding: 10px 10px;
}

.listaCardapio > img{
    flex: 1;
}

.iconeham{
    margin: 0 16px;
}

.bebidaIndex{
    width: 129px;
}

.bebidaIndex > a > img{
    margin-left: 15px;
}

.listaCardapio > a{
    text-decoration: none;
    color: gold;
    font-weight: bolder;
    text-align: center;
    font-size: 12px;
}

footer{
    text-align: center;
    color: #fff;
    margin: 5px;
    font-family: 'Red Rose', sans-serif;
}

.mostraRede > a{
    text-decoration: none;
    color: #fff;
}

.mostraRede > a > span{
    margin-left: 10px;
    position: relative;
    top: -10px;
}

.formConfcli{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 400px;
    margin: 0 auto;
}

.confirmaForm{
    /* margin: 0 auto; */
    /* text-align: right; */
    font-weight: bold;
    margin-left: 30px;
    color: #fff;
}


.secConfirma{
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    margin: 15px auto;
}

.formatxt, .ob{
    margin: 10px 0;
    color:#fff;
}

.formaDePGT{
    background-color: white;
    height: 30px;
    border: solid black;
    border-radius: 6px;
    width: 110px;
    margin: 5px 0;
}

.trocoInput{
    width: 110px;
    border: 3px solid black;
    padding: 3px;
    border-radius: 4px;
} 

.obsBtn{
    display: flex;
    width: 300px;
    justify-items: center;
    align-items: center;
    
}

.obsBtn > textarea{
    width: 200px;
    height: 80px;
    border: solid black;
    border-radius: 6px;
}

.obsBtn > button{
    width: 80px;
    margin-left: 20px;
    background-color: brown;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
}

.obsBtn > button:hover{
    color: yellow;
    transition: 1s;
}

.naoehcli{
    margin-top: 10px;
    color: yellow;
}

.btn-comprarMais{
    display: flex;
    margin: 15px auto;
    background-color: brown;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
} 

#nomeNoPreenchimento{
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    /* text-align: center; */
}

#endNoPreenchimento{
    color: #fff;
}

#bairroNoPreenchimento{
    color: #fff;
}

#referenciaNoPreenchimento{
    color: #fff;
}

#foneNoPreenchimento{
    color: #fff;
}